.greeting {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  text-align: center;
}

.typing h1{
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}